.hero-section {
  background: linear-gradient(
    150deg,
    rgb(190, 30, 94),
    rgb(198, 56, 129)
  );

  color: white;
  text-align: center;

  padding: 90px 20px;
}

.hero-section h1 {
  font-size: 3rem;
  margin-bottom: 20px;

  animation: fadeInUp 0.8s ease;
}

.tagline {
  margin-bottom: 20px;

  animation: fadeInUp 0.8s ease;
}

.hero-button {
  display: flex;
  justify-content: center;
  gap: 15px;

  animation: fadeInUp 0.8s ease;
}

.btn-primary,
.btn-secondary {
  text-decoration: none;

  padding: 10px 18px;

  border-radius: 10px;

  background-color: rgb(69, 108, 224);

  color: white;

  font-weight: bold;

  border: 2px solid rgb(69, 108, 224);
}

.btn-primary:hover,
.btn-secondary:hover {
  background-color: transparent;
}

@keyframes fadeInUp {

  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }

}

@media (max-width: 768px) {

  .hero-section h1 {
    font-size: 2rem;
  }

  .hero-button {
    flex-direction: column;
    align-items: center;
  }

}