.skills-section {
  padding: 70px 20px;
}

.skill-grid {
  display: grid;

  grid-template-columns:
    repeat(auto-fit, minmax(200px, 1fr));

  gap: 20px;

  max-width: 1000px;

  margin: auto;
}

.skill-item {
  background-color: aliceblue;

  border: 2px solid var(--primary);

  border-radius: 12px;

  padding: 25px 20px;

  text-align: center;

  transition: 0.3s;
}

.skill-item:hover {
  transform: translateY(-8px);

  box-shadow:
    0 4px 15px
    rgba(169, 28, 28, 0.3);
}

.skill-bar {
  height: 8px;

  margin: 15px 0;

  background-color: #ddd;

  border-radius: 20px;

  overflow: hidden;
}

.skill-progress {
  height: 100%;

  background-color: var(--primary);

  border-radius: 20px;
}